CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.sdf
*.obj
*.tlog
*.pdb
*.vcxproj.user
moc_*.cpp
qrc_*.cpp
ui_*.h
*.opensdf
*.sdf
*.suo
*.pch
*.log
*.ipch
*.pro.user
*~
#*#
*.autosave
*.lastbuildstate
*.manifest
